//MOBILE

// @media (min-width: 479px) {
.footer {
	display: flex;
	color: rgb(70, 70, 70);
	justify-content: space-between;
	padding: 0.5rem 2rem;
	width: auto;
}

.copyright {
	max-width: 0.7rem;
}
// }

//DESKTOP
@media (min-width: 1280px) {
}
