//MOBILE

// @media (min-width: 479px) {
.header {
	position: fixed;
	background-color: none;
	display: flex;
	width: 100%;
	font-size: 0.8rem;
	justify-content: space-between;
	padding: 1.8rem 0.1rem;
	color: rgb(70, 70, 70);

	&_message {
		margin: auto;
	}
	&_name {
		margin: auto;
	}
}
// }

//DESKTOP
@media (min-width: 1280px) {
	.header {
		position: fixed;
		background-color: none;
		display: flex;
		width: 100%;
		font-size: 0.8rem;
		justify-content: space-between;
		padding: 1.8rem 0.1rem;
		color: rgb(70, 70, 70);

		&_message {
			margin: auto;
		}
		&_name {
			margin: auto;
		}
	}
}
