@keyframes showup {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
	// 100% {
	// 	opacity: 0;
	// }
}

@keyframes slidein {
	0% {
		margin-left: -800px;
	}
	20% {
		margin-left: -800px;
	}
	35% {
		margin-left: 0px;
	}
	100% {
		margin-left: 0px;
	}
}

@keyframes reveal {
	0% {
		opacity: 0;
		width: 0px;
	}
	20% {
		opacity: 1;
		width: 0px;
	}
	30% {
		width: 355px;
	}
	80% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		width: 355px;
	}
}

//MOBILE

// @media (min-width: 479px) {

.header {
	position: fixed;
	background-color: none;
	display: flex;
	width: 100%;
	font-size: 0.8rem;
	justify-content: space-between;
	padding: 1.8rem 0.1rem;
	color: rgb(70, 70, 70);

	&_message {
		margin: auto;
	}
	&_name {
		margin: auto;
	}
}
// }

//DESKTOP
@media (min-width: 1280px) {
	.header {
		overflow: hidden;
		white-space: nowrap;

		&_message {
			animation: showup 5s;
		}
		&_name {
			animation: showup 5s;
		}
	}
}
