@use 'src/styles/vars' as v;

//MOBILE

// @media (min-width: 479px) {
.contact {
	margin: 4rem 0 2rem 0;

	width: auto;

	&_title {
		font-size: 3rem;
		text-align: center;
		font-family: v.$title-font;
	}
	&_device {
		padding: 1rem 0 0 2rem;
		font-size: 1.4rem;
	}
	&_device-email {
		padding: 3rem 1rem;
		font-size: 1.6rem;
		justify-content: center;
	}
}
// }

//DESKTOP
@media (min-width: 1280px) {
	.contact {
		margin: 2rem 15rem;

		// width: auto;

		&_title {
			font-size: 3rem;
			text-align: center;
		}
		&_device {
			padding: 1rem 0 0 2rem;
			font-size: 1.4rem;
		}
		&_device-email {
			padding: 2rem 1rem;
			font-size: 1.6rem;
			justify-content: center;
			text-align: center;
		}
	}
}
