@use 'src/styles/vars' as v;

//MOBILE

// @media (min-width: 479px) {
body {
	width: auto;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.app {
	background-color: #f9f9f9;
	width: 100vw;
	overflow: hidden;
	font-family: v.$text-font;
}
// }

//FONT = AEONIK FOR CONTENTS
//AMPERSAND FOR TITLES (Not free, so MAK FONT)

//DESKTOP
@media (min-width: 1280px) {
	body {
		width: auto;
		margin: 0;
		padding: 0;
		overflow-x: hidden;
	}

	.app {
		background-color: #f9f9f9;
		width: 100vw;
		overflow: hidden;
	}
}

// $breakpoint-smartphone-landscape: 480px;
// $breakpoint-tablet: 959px;
// $breakpoint-desktop: px;
