@use 'src/styles/vars' as v;

//MOBILE
// @media (min-width: 479px) {
.certification {
	&_title {
		text-align: center;
		font-size: 3rem;
		font-family: v.$title-font;
	}

	&_anssi_logo {
		max-width: 2rem;
		max-height: 2rem;
		height: auto;
		margin: 0rem 1rem;
	}
	&_opquast_logo {
		max-width: 2rem;
		height: auto;
		max-height: 2rem;
		margin: 0rem 1rem;
	}
	&_oclock_logo {
		max-width: 2rem;
		height: auto;
		margin: 0rem 1rem;
		vertical-align: middle;
	}
}

a {
	display: flex;
	padding: 0.5rem 1.5rem;
	text-align: center;
}
// }
//DESKTOP
@media (min-width: 1280px) {
	.certification {
		margin: 2rem 12rem;
		padding-bottom: 2rem;
		&_title {
			text-align: center;
		}

		&_anssi_logo {
			max-width: 2rem;
			height: auto;
			margin: 0rem 1rem;
			vertical-align: middle;
		}
		&_opquast_logo {
			max-width: 2rem;
			height: auto;
			margin: 0rem 1rem;
			vertical-align: middle;
		}
		&_oclock_logo {
			max-width: 2rem;
			height: auto;
			margin: 0rem 1rem;
			vertical-align: middle;
		}
	}

	a {
		display: flex;
		padding: 0.5rem 1.5rem;
		text-align: center;
		text-decoration: none;
	}
}
