@use 'src/styles/vars' as v;

//MOBILE

// @media (min-width: 479px) {
.certification {
	color: rgb(70, 70, 70);
	margin: 0rem 0rem 5rem 0rem;
	&_title {
		text-align: center;
		font-size: 3rem;
		font-family: v.$title-font;
		color: black;
	}

	&_anssi_logo {
		max-width: 2rem;
		max-height: 2rem;
		height: auto;
		margin: 0rem 1rem;
	}
	&_opquast_logo {
		max-width: 2rem;
		height: auto;
		max-height: 2rem;
		margin: 0rem 1rem;
	}
	&_oclock_logo {
		max-width: 2rem;
		max-height: 2rem;
		margin: 0rem 1rem;
		vertical-align: middle;
	}
}

a {
	display: flex;
	padding: 0.5rem 1.5rem;
	text-align: left;
	color: inherit;
	text-decoration: none;
	line-height: 1.5rem;
}
// }
//DESKTOP
@media (min-width: 1280px) {
	.certification {
		margin: 0rem 15rem 10rem 15rem;
		// padding-bottom: 2rem;
		text-align: center;

		&_title {
			margin-bottom: 2rem;
		}
	}

	a {
		display: inline-block;
		text-decoration: none;
		text-align: center;
	}
}
