//MOBILE
// @media (min-width: 479px) {
.certification {
	//
	&_title {
		text-align: center;
		font-size: 1.5rem;
	}

	&_anssi_logo {
		max-width: 2rem;
		max-height: 2rem;
		height: auto;
		margin: 0rem 1rem;
	}
	&_opquast_logo {
		max-width: 2rem;
		height: auto;
		max-height: 2rem;
		margin: 0rem 1rem;
	}
}

a {
	display: flex;
	padding: 0.5rem 1.5rem;
	text-align: center;
}
// }
//DESKTOP
@media (min-width: 1280px) {
	.certification {
		background-color: tomato;
		width: 35%;
		height: 35%;
		&_title {
			text-align: center;
			font-size: 1.5rem;
		}

		&_anssi_logo {
			max-width: 2rem;
			max-height: 2rem;
			height: auto;
			margin: 0rem 1rem;
		}
		&_opquast_logo {
			max-width: 2rem;
			height: auto;
			max-height: 2rem;
			margin: 0rem 1rem;
		}
	}

	a {
		display: flex;
		padding: 0.5rem 1.5rem;
		text-align: center;
	}
}
