//MOBILE

// @media (min-width: 479px) {
.projects {
	width: auto;
	&_project {
		color: black;

		transition: 0.3s;
		padding: 0rem 0.3rem 1rem 0.3rem;
		margin: 0rem 0.5rem;
		border-radius: 1rem;
		vertical-align: middle;
		text-align: center;
		background-size: 90%;
		background: center;
	}
	&_project-image {
		max-width: 100%;
		max-height: 100%;
		border-radius: 0.5rem;
		box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
	}
}
// }

//DESKTOP
@media (min-width: 1280px) {
	.projects {
		max-width: 35%;
		min-height: 35%;
		background-color: aqua;
		&_project {
			color: black;

			transition: 0.3s;
			padding: 0rem 0.3rem 1rem 0.3rem;
			margin: 0rem 0.5rem;
			border-radius: 1rem;
			vertical-align: middle;
			text-align: center;
			// background-size: 90%;
			background: center;
		}
		&_project-image {
			width: 35%;
			height: 35%;
			border-radius: 0.5rem;
			box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
		}
	}
}
