@keyframes moveSlideshow {
	0% {
		transform: translate(100%, 0); /* position initiale à droite */
	}
	100% {
		transform: translate(-100%, 0); /* position finale à gauche */
	}
}

.techno_bar {
	max-width: 100%;
	margin: auto;

	display: flex;
	overflow: hidden;
	position: relative;
	white-space: nowrap;
	animation: moveSlideshow 10s linear infinite;

	&_logo {
		max-width: 2rem;
		height: auto;
		display: block;
		padding-right: 2em;
	}
	&_logo-html {
		max-width: 1.7rem;
		height: auto;
		display: block;
		padding-right: 2em;
	}

	&_logo-node {
		max-width: 2rem;
		height: auto;
		display: block;
		padding-right: 2em;
	}
}
