@keyframes defilement-rtl {
	0% {
		transform: translate(100%, 0); /* position initiale à droite */
	}
	100% {
		transform: translate(-100%, 0); /* position finale à gauche */
	}
}

.techno_bar {
	background-color: white;
	display: flex;
	overflow: hidden;
	// position: absolute;
	white-space: nowrap;
	animation: defilement-rtl 10s linear infinite;

	&_logo {
		max-width: 2rem;
		height: auto;
		display: inline;
		padding-right: 2em;
		// animation: defilement-rtl 3s infinite linear;
	}
	&_logo-html {
		max-width: 1.7rem;
		height: auto;
		display: inline;
		padding-right: 2em;
		// animation: defilement-rtl 3s infinite linear;
	}

	&_logo-node {
		max-width: 2rem;
		height: auto;
		display: inline;
		padding-right: 2em;
		// animation: defilement-rtl 3s infinite linear;
	}
}
