@use 'src/styles/vars' as v;
//MOBILE

// @media (min-width: 479px) {
.carousel {
	&_title {
		text-align: center;
		font-family: v.$title-font;
		font-size: 2.5rem;
		margin-bottom: 1.5rem;
	}
}
// }

//DESKTOP
@media (min-width: 1280px) {
	.carousel {
		margin: 5rem 15rem 10rem 15rem;
		&_title {
			margin-bottom: 2rem;
		}
	}
}
