@use 'src/styles/vars' as v;
//MOBILE

// @media (min-width: 479px) {
.carousel {
	&_title {
		text-align: center;
		font-family: v.$title-font;
		font-size: 3rem;
	}
}
// }

//DESKTOP
@media (min-width: 1280px) {
	.carousel {
		margin: 5rem 15rem;
	}
}
