@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

//MOBILE

// @media (min-width: 479px) {
.carousel {
	&_title {
		text-align: center;
		font-family: 'Playfair Display', serif;
		font-size: 3rem;
	}
}
// }

//DESKTOP
@media (min-width: 1280px) {
	.carousel {
		background-color: blue;
		width: 35%;
		height: 35%;
		&_title {
			text-align: center;
			font-family: 'Playfair Display', serif;
			font-size: 3rem;
		}
	}
}
